.cards {
	height: 404px;
	margin-top: 100px;

	.item {
		float: left;
		width: 333px;
		height: 404px;
		background-color: $white;
		@include border-radius(15px);
		position: relative;
		z-index: 1;

		a.a-mask {
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			z-index: 5;
		}
		.content {
			position: absolute;
			left: 0;
			z-index: 3;
			width: 333px;
			height: 202px;
			text-align: center;

			img.icon {
				margin-top: 46px;
			}
			h3.title{
				margin: 21px 0 13px 0;
				font-size: 16px;
			}
			p.info{
				margin: 0;
				font-size: 14px;
			}
		}
		.content-top {
			top: 0;
		}
		.content-bottom {
			bottom: 0;
		}
		img.arrow {
			position: absolute;
			top: 180px;
			left: 144px;
			z-index: 5;
		}
		img.pic {
			position: absolute;
			left: 0;
			z-index: 3;
			width: 333px;
			height: 202px;
		}
		img.pic-top {
			top: 0;
		}
		img.pic-bottom {
			bottom: 0;
		}
		.radius-wrap {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: 2;

			&:before {
				@extend .radius-top-left;
			}
			&:after {
				@extend .radius-top-right;
			}
			.radius {
				&:before {
					@extend .radius-bottom-left;
				}
				&:after {
					@extend .radius-bottom-right;
				}
			}
		}
	}
}