.footer {
  height: $footer-height;
  background-color: $footer-bg;
  color: #fff;
  clear: both;

  &:before {
    display: block;
    content: ' ';
    @extend .line;
    height: 2px !important;
  }
  .footer-left {
    width: 570px;
    float: left;

    .menu-group {
      margin-top: 60px;
      overflow: hidden;

      li {
        float: left;
        line-height: 1;

        a {
          color: $a-normal;
          text-decoration: none;
          font-weight: bold;
          font-size: 14px;

          &:hover {
            color: $a-hover;
          }
        }
        .tit:after {
          content: "/";
          padding: 0 9px;

        }
      }
    }
    ul.friend-links {
      overflow: hidden;
      margin-top: 18px;
      position: relative;
      z-index: 1;
      padding-left: 60px;
      min-height: 18px;
      
      h3.title{
        font-size: 12px; 
        color: $a-normal;
        font-weight: normal;
        position: absolute;
        width: 60px;
        left: 0px;
        top: 0;
        margin: 0;
        z-index: 1;
      }
      li {
        float: left;
        font-size: 12px;
        color: $a-normal;
        margin-bottom: 6px;

        a {
          color: $a-normal;
          text-decoration: none;
          line-height: 1;

          &:hover {
            color: $a-hover;
          }
        }
      }
      .link:after {
        padding: 0 4px;
        content: "|";
      }
    }
    .copyright {
      overflow: hidden;
      line-height: 1;
      border-top: 1px solid $line-bg;
      margin-top: 20px;
      padding-top: 16px;
      color: $a-normal;
    }
  }
  .footer-right {
    width: 252px;
    margin-top: 35px;
    float: right;

    p {
      float: left;
      color: $a-normal;
      font-size: 12px;
      line-height: 1;
      margin: 70px 0 0;
      padding-right: 10px;
      background: url("../images/right.png") no-repeat 76px 1px;
    }
    img {
      float: right;
      width: 149px;
      height: 149px;
    }
  }
}